$BrightBlue: hsl(220, 98%, 61%);
$CheckBackground: linear-gradient(#57ddff, #c058f3);

// Light Theme
$VeryLightGray: hsl(0, 0%, 98%);
$VeryLightGrayishBlue: hsl(236, 33%, 92%);
$LightGrayishBlue: hsl(233, 11%, 84%);
$DarkGrayishBlueLight: hsl(236, 9%, 61%);
$VeryDarkGrayishBlueLight: hsl(235, 19%, 35%);

// Dark Theme
$VeryDarkBlue: hsl(235, 21%, 11%);
$VeryDarkDesaturatedBlue: hsl(235, 24%, 19%);
$LightGrayishBlue: hsl(234, 39%, 85%);
$LightGrayishBlueHover: hsl(236, 33%, 92%); // (hover)
$DarkGrayishBlueDark: hsl(234, 11%, 52%);
$VeryDarkGrayishBlueDarkLight: hsl(233, 14%, 35%);
$VeryDarkGrayishBlueDarkDarker: hsl(237, 14%, 26%);
