@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #161722;
}

body .dark-mode {
  color: #fff !important;
}

body,
button,
textarea,
input {
  font-family: "Josefin Sans", sans-serif !important;
}

input,
textarea,
button {
  outline: none !important;
}

.container {
  width: 600px;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

h1,
p {
  margin: 0;
}

img {
  width: 90%;
  max-width: 32px;
  max-height: 32px;
}

header {
  min-height: 350px;
  height: 30vh;
  background-image: url(images/bg-desktop-dark.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

header .header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 6em;
}

header .header-content h1 {
  font-size: 3em;
  color: #fff;
  letter-spacing: 25px;
}

header .header-content .mode-toggler {
  cursor: pointer;
}

.active-option {
  color: #3a7bfd !important;
}

.form-new-task {
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
  border-radius: 5px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-new-task .label-container {
  width: 100%;
}

.form-new-task .label-container input[type="checkbox"] {
  opacity: 0;
  margin-right: 1em;
}

.form-new-task .label-container .custom-checkbox {
  display: inline-block;
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: 1px solid #4d5066;
  left: 17px;
  bottom: 35px;
  border-radius: 50%;
}

.form-new-task .label-container input[type="text"] {
  width: 90%;
  height: 30px;
  border: none;
  font-size: 20px;
  background-color: transparent;
  color: #cacde8;
  padding: 0;
}

main {
  -webkit-transform: translateY(-110px);
          transform: translateY(-110px);
}

.tasks {
  border-radius: 5px;
  overflow: hidden;
  background-color: #25273c;
  -webkit-box-shadow: 0px 0px 35px 3px #000000;
          box-shadow: 0px 0px 35px 3px #000000;
}

.globalstyle {
  background-color: #25273c;
  color: #cacde8;
  padding: 30px 20px;
  font-weight: 400;
}

.task {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  font-size: 20px;
  border-bottom: 1px solid #777a92;
}

.task .left {
  position: relative;
}

.task .left input[type="checkbox"] {
  opacity: 0;
  margin-right: 2.3em;
}

.task .left .custom-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25px;
  height: 25px;
  border: 1px solid #4d5066;
  position: absolute;
  left: 5px;
  bottom: 0;
  border-radius: 50%;
}

.task .left .custom-checkbox:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#57ddff), to(#c058f3));
  background: linear-gradient(#57ddff, #c058f3);
  cursor: pointer;
}

.task .left .custom-checkbox::after {
  content: "";
  background-image: url(images/icon-check.svg);
  width: 10px;
  height: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

.task .left .custom-checkbox .helper-custom-checkbox {
  display: inline-block;
  width: 21px;
  height: 21px;
  background: #25273c;
  border-radius: 50%;
  z-index: 1;
}

.task .text-container {
  display: block;
  width: 84%;
}

.task .text-container .todo-text {
  width: 100%;
  margin-right: 10px;
}

.task .text-container .label-text-active {
  color: #777a92;
  position: relative;
}

.task .text-container .label-text-active::after {
  content: "";
  display: inline-block;
  height: 1px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 10px;
  background-color: #777a92;
}

.task .right {
  position: absolute;
  right: 35px;
}

.task .right img {
  width: 20px;
  cursor: pointer;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #777a92;
}

.options button {
  border: none;
  background-color: transparent;
  font-weight: 700;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #777a92;
}

.options button:hover {
  color: #cacde8;
  cursor: pointer;
}

footer {
  text-align: center;
  margin-top: 3.5em;
  color: #777a92;
}
/*# sourceMappingURL=style.css.map */